<!DOCTYPE html> 
<html> 
    <body style="background-color:#211F1F; color:#E8E6E6; font-family:'Helvetica';"></body>
        <style>
            a:link,a:visited,a:hover,a:active {
            color: #767676;
            background-color: transparent;
            text-decoration: none;
            }
            table, th, td {
            border-collapse: collapse;
            padding: 7px;
            }
            th{
            background-color: #C7C7C7;
            color: black;
            }
            td{
            background-color: #E8E6E6;
            color: #767676;
            }
            div.ttypography{
            margin-left: 230px;
            width: 100%;
            padding: 10px;
            }
        </style>
        <div class="ttypography">
            <h1>Unofficial Codechef API</h1>
            <h2>Methods</h2> 
            <h3 id="Problemset">Problemset</h3>
            <p>Returns list of problems</p>
            <p>
                <strong>Example</strong>:  <a href="https://apicodechef.herokuapp.com/problemset">https://apicodechef.herokuapp.com/problemset</a> 
            </p>
            <h3 id="Rating">Rating</h3>
            <p>Returns list of objects related to user rating</p>
             <table class="bordertable">
                <thead> 
                    <tr>
                        <th>Parameter </th>       
                        <th>Description</th>     
                    </tr>   
                </thead>   
                <tbody>     
                    <tr>
                        <td>
                            <strong>handle </strong> (Required) </td>       
                            <td>User's Handle (Username). For example:<a href="https://www.codechef.com/users/gennady.korotkevich">/users/<b>gennady.korotkevich</b></a>
                        </td>     
                    </tr>   
                </tbody> 
            </table>
            <p><strong>Response Time</strong>: < 1s </p>
            <p>
                <strong>Example</strong>:  <a href="https://apicodechef.herokuapp.com/rating?handle=gennady.korotkevich">https://apicodechef.herokuapp.com/rating?handle=gennady.korotkevich</a> 
            </p>
            <h3 id="Contest">Contest</h3>
            <p>Returns list of objects related to user's rating in different types of contests</p>
             <table class="bordertable">
                <thead> 
                    <tr>
                        <th>Parameter </th>       
                        <th>Description</th>     
                    </tr>   
                </thead>   
                <tbody>     
                    <tr>
                        <td>
                            <strong>handle </strong> (Required) </td>       
                            <td>User's Handle (Username). For example:<a href="https://www.codechef.com/users/gennady.korotkevich">/users/<b>gennady.korotkevich</b></a>
                        </td>     
                    </tr>   
                </tbody> 
            </table>
            <p><strong>Response Time</strong>: < 1s </p>
            <p>
                <strong>Example</strong>:  <a href="https://apicodechef.herokuapp.com/contest?handle=gennady.korotkevich">https://apicodechef.herokuapp.com/contest?handle=gennady.korotkevich</a> 
            </p>
            <h3 id="Ranking">Ranking</h3>
            <p>Returns list of objects related to user's ranking in contest</p>
             <table class="bordertable">
                <thead> 
                    <tr>
                        <th>Parameter </th>       
                        <th>Description</th>     
                    </tr>   
                </thead>   
                <tbody>     
                    <tr>
                        <td>
                            <strong>handle </strong> (Required) </td>       
                            <td>User's Handle (Username). For example:<a href="https://www.codechef.com/users/gennady.korotkevich">/users/<b>gennady.korotkevich</b></a>
                        </td>     
                    </tr>   
                </tbody> 
            </table>
            <p><strong>Response Time</strong>: < 1s </p>
            <p>
                <strong>Example</strong>:  <a href="https://apicodechef.herokuapp.com/ranking?handle=gennady.korotkevich">https://apicodechef.herokuapp.com/ranking?handle=gennady.korotkevich</a> 
            </p>
            <h3 id="Problem">Problem</h3>
            <p>Returns list of objects related to problems solved by users</p>
             <table class="bordertable">
                <thead> 
                    <tr>
                        <th>Parameter </th>       
                        <th>Description</th>     
                    </tr>   
                </thead>   
                <tbody>     
                    <tr>
                        <td>
                            <strong>handle </strong> (Required) </td>       
                            <td>User's Handle (Username). For example:<a href="https://www.codechef.com/users/gennady.korotkevich">/users/<b>gennady.korotkevich</b></a>
                        </td>     
                    </tr>   
                </tbody> 
            </table>
            <p><strong>Response Time</strong>: < 1s </p>
            <p>
                <strong>Example</strong>:  <a href="https://apicodechef.herokuapp.com/problem?handle=gennady.korotkevich">https://apicodechef.herokuapp.com/problem?handle=gennady.korotkevich</a> 
            </p>
            <h3 id="Recent">Recent</h3>
            <p>Returns list of objects related to recent submissions made by users (12 most recent submission)</p>
             <table class="bordertable">
                <thead> 
                    <tr>
                        <th>Parameter </th>       
                        <th>Description</th>     
                    </tr>   
                </thead>   
                <tbody>     
                    <tr>
                        <td>
                            <strong>handle </strong> (Required) </td>       
                            <td>User's Handle (Username). For example:<a href="https://www.codechef.com/users/gennady.korotkevich">/users/<b>gennady.korotkevich</b></a>
                        </td>     
                    </tr>   
                </tbody> 
            </table>
            <p><strong>Response Time</strong>: =~ 10s </p>
            <p>
                <strong>Example</strong>:  <a href="https://apicodechef.herokuapp.com/recent?handle=gennady.korotkevich">https://apicodechef.herokuapp.com/recent?handle=gennady.korotkevich</a> 
            </p>
            <h3 id="Submission">Submission</h3>
            <p>Returns list of objects related to all submissions made by users</p>
             <table class="bordertable">
                <thead> 
                    <tr>
                        <th>Parameter </th>       
                        <th>Description</th>     
                    </tr>   
                </thead>   
                <tbody>     
                    <tr>
                        <td>
                            <strong>handle </strong> (Required) </td>       
                            <td>User's Handle (Username). For example:<a href="https://www.codechef.com/users/gennady.korotkevich">/users/<b>gennady.korotkevich</b></a>
                        </td>     
                    </tr>   
                </tbody> 
            </table>
            <p><strong>Response Time</strong>: < 5s </p>
            <p>
                <strong>Example</strong>:  <a href="https://apicodechef.herokuapp.com/submission?handle=gennady.korotkevich">https://apicodechef.herokuapp.com/submission?handle=gennady.korotkevich</a> 
            </p>
            <h3 id="All">All</h3>
            <p>Returns list of all the objects mentioned above.</p>
             <table class="bordertable">
                <thead> 
                    <tr>
                        <th>Parameter </th>       
                        <th>Description</th>     
                    </tr>   
                </thead>   
                <tbody>     
                    <tr>
                        <td>
                            <strong>handle </strong> (Required) </td>       
                            <td>User's Handle (Username). For example:<a href="https://www.codechef.com/users/gennady.korotkevich">/users/<b>gennady.korotkevich</b></a>
                        </td>     
                    </tr>   
                </tbody> 
            </table>
            <p><strong>Response Time</strong>: < 5s </p>
            <p>
                <strong>Example</strong>:  <a href="https://apicodechef.herokuapp.com/all/gennady.korotkevich">https://apicodechef.herokuapp.com/all/gennady.korotkevich</a> 
            </p>
        </div>
    </body>
</html>



